.WebContainer{
    width: 100%;
    height: auto;
  }
.body{
    background-color: #E3E3E3;
  }
.social{
          /*  background-color:   #100791; 
    background-image: linear-gradient(to top left , rgb(24, 24, 110), black);
    color : whitesmoke;
    text-align: center;
    font: caption;
    margin-top: 300px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;*/

    position: absolute;
    min-width: 1000px;
    width: 1000px;
    height: 273px;
    left: 0px;
    top: 665px;

  /* dark */
  
    background: linear-gradient(84.45deg, #0B0D17 0%, #1F2959 106.63%);
    color : whitesmoke;
    text-align: center;
      
      }
      .bditto{
        position: absolute;
        width: 75px;
        height: 36px;
        left: calc(50% - 75px/2 + 0.5px);
        bottom: 577px;
        
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;
  
      }
  .cont{
        position: absolute;
  height: 28px;
  left: 33.5%;
  right: 33.67%;
  top: 813px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  /* identical to box height, or 233% */
  
  color: #E3E3E3;
  }
  
    
      .fa {
          padding: 20px;
          font-size: 30px;
          width: 20px;
          text-align: center;
          text-decoration: none;
          border-radius: none;
        }
        
        /* Add a hover effect if you want */
        .fa:hover {
          opacity: 0.7;
        }
        
        /* Set a specific color for each brand */
        
        /* Facebook */
        .fa-facebook {
          color:  #E3E3E3;
        }
        
        /* Twitter */
        .fa-twitter {
          
          color: #E3E3E3;
        }
        .fa-google {
          color: #E3E3E3;
        }
        .fa-linkedin {
          color: #E3E3E3;
        }
        .square {
       
          position: absolute;
        width: 620.9px;
        height: 484.2px;
        left: -457.26px;
        top: -120.54px;
  
  background: linear-gradient(180.57deg, #FFD166 0.49%, #FF8266 147.16%);
  border-radius: 46px;
  transform: rotate(119.15deg);
  }
  
  .box{
  
  position: absolute;
  
  width: 800px;
  height: 691px;
  left: 100px;
  top: 32px;
  padding-right: 32px;
  text-align: center;
  align-items: center;
  align-content: center;
  background: #FFFFFF;
  
  }
  
  .box_in{
    position: absolute;
  width: 146px;
  height: 62px;
  left: calc(50% - 146px/2);
  bottom: 567px;
  font-size: medium;
  
  /* pink */
  
  background: linear-gradient(45deg, #FF5B5B 0%, #DBA3DB 100%);
  border-radius: 18px;
  color:#FFFFFF;
  }
  .ist{
    position: absolute;
  width: 50px;
  height: 40px;
  left: 237.09px;
  top: 228.09px;
  
  background: #FFFFFF;
  transform: rotate(350deg);
  transform: matrix(0.9, -0.45, -0.45, -0.9, 0, 0);
  }
  #writing{
    position: absolute;
  width: 231px;
  height: 29px;
  left: calc(50% - 231px/2 - 0.5px);
  bottom: 419px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #333333;
  
  }
  #main{
  
  position: absolute;
  width: 306px;
  height: 225px;
  left: calc(50% - 306px/2);
  bottom: 162px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  /* or 179% */
  
  text-align: center;
  
  color: #7D7D7D;
  
  }
  #acc{
    position: absolute;
  width: 271px;
  height: 52px;
  left: calc(50% - 271px/2 - 0.5px);
  bottom: 100px;
  
  background: linear-gradient(225deg, #58bcef 0%,#58bcef 100%);
  border-radius: 6px;
  border-color: #58bcef;
  color: #FFFFFF;
  font-weight: bold;
  
  }
  #photo1{
    position: absolute;
  width: 39.95px;
  height: 27.13px;
  align-items: center;
  align-content: center;
  top: 180px;
  background: #FFFFFF;
  left: 350px;
  
  }
  #photo2{
    position: absolute;
    width: 70px;
    height: 60.3px;
  align-items: center;
  align-content: center;
  top: 160px;
  background: #FFFFFF;
  left: 360px;
  
  }